<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" initial-scale=1.0>
    <title>Prediction</title>

    <!-- Bootstrap Attachments -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/bootstrap.min.css') }}">

    <!-- CSS -->
    <link rel="stylesheet" href="{{  url_for('static',filename='stylesheet/styles1.css')  }}" >
</head>

<body>
    <br>

    <!-- Input Form -->
    <div class="container">
        {% if image_file %}
        <img src="{{ url_for('static', filename='images/' + image_file) }}" alt="Predicted Crop" class="predicted-image">
        {% endif %}
        <h2>{{ prediction_text }}</h2>

    <br>
    <br>

        <form action="\predict" method="post"></form>
            <a href="{{ url_for('home') }}" type="return" value="Return" class="btn btn-grey">Return</a>
        </form>
    </div>

</body>

</html>
