{% extends "layout.html" %}
{% block title %}
Home
{% endblock %}
{% block content %}

<head>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/bootstrap.min.css') }}">

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet/styles2.css') }}">
</head>

<body>
    <h1 id="title">Select the crops you have</h1>

    <br>

    <!-- Form to submit selected crops -->
    <form method="POST" action="/select" required="required">
        <select id="crops" name="crops[]" multiple required>
            <option value="Soybean">Soybean</option>
            <option value="Wheat">Wheat</option>
            <option value="Rice">Rice</option>
            <option value="Potato">Potato</option>
            <option value="Cassava">Cassava</option>
        </select>
        <br><br>

        <!-- Submit Button -->
        <input type="submit" value="Submit" class="btn btn-grey">
    </form>
</body>
{% endblock %}
