<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" initial-scale=1.0>
    <title>Variables</title>
    
    <!-- Bootstrap Attachments -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/bootstrap.min.css') }}">

    <!-- CSS -->
    <link rel="stylesheet" href="{{  url_for('static',filename='stylesheet/styles.css')  }}" >
</head>

<h1 id="title">Crop Prediction to get the most yield</h1>

<body>
    <div class="container">
        <form action="\predict" method="post">
            <div class="row">
                    <!-- Input for Temperature -->
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Temperature</h5>
                            <input type="number" name="temperature" placeholder="In °C" id="temperature-input"
                                required="required" step="any" min="0">
                        </div>
                    </div>
                </div>
                <!-- Input for Pollution -->
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Air Pollution</h5>
                            <input type="number" name="pollution" placeholder="PM2.5"
                                id="pollution-input" required="required" step="any" min="0">
                        </div>
                    </div>
                </div>
            </div>

            <br>
            <br>

            <div class="row">
                <!-- Input for Pesticides -->
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Pesticides Level</h5>
                            <input type="number" name="pest" placeholder="Ratio of pesticides" id="pest-input"
                                required="required" step="any" min="0">
                        </div>
                    </div>
                </div>    
                <!-- Input for Rainfall -->
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Rainfall Level</h5>
                            <input type="number" name="rainfall" placeholder="Rainfall in mm" id="rainfall-input"
                                required="required" step="any" min="0">
                        </div>
                    </div>
                </div>
            </div>

            <br>

            <!-- Submit Button -->
            <input href="crop prediction.html" type="submit" value="Submit" class="btn btn-grey">
            <br>
        </form>
    </div>
</body>

</html>